.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.item {
  padding: 20px; 
  text-align: center;
  margin: 20px;
  background: #EDE7F6;
  width: 300px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.card1 {
  transition: 0.3s;
  padding: 10px;
}

.card1:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.nav li {
  display: inline;
}

